@page "/"

@if (_eventMarkers == null)
{
    <Loader></Loader>
}
else
{
    <CascadingValue Value="_eventMarkers">
        <div class="border rounded">
            <TimeIndicator DateChangeEventCallback="@TimeIndicator_OnDateChanged"></TimeIndicator>
        </div>
        <div class="row mt-3 no-gutters">
            <div class="col-md-8">
                <WikiMap @ref="WikiMap" EventSelectedEventCallback="@WikiMap_OnEventSelected"></WikiMap>
            </div>
            <div class="col-md-4 overflow-auto">
                <EventDetail @ref="EventDetail" DateFormat="dd MMMM yyyy"></EventDetail>
            </div>
        </div>
    </CascadingValue>
}
