@page "/"

@if (_eventMarkers == null)
{
    <Loader></Loader>
}
else
{
    <CascadingValue Value="_eventMarkers">
        <div>
            <TimeIndicator DateChangeEventCallback="@TimeIndicator_OnDateChanged"></TimeIndicator>
        </div>
        <div class="row mt-3">
            <div class="col-md-8 border">
                <Map @ref="WikiMap" EventSelectedEventCallback="@WikiMap_OnEventSelected"></Map>
            </div>
            <EventDetail @ref="EventDetail" DateFormat="dd MMMM yyyy"></EventDetail>
        </div>
    </CascadingValue>
}
