@page "/"

<div>
    <TimeIndicator DateChangeEventCallback="@TimeIndicator_OnDateChanged"></TimeIndicator>
</div>
<div class="row mt-3">
    <div class="col-md-8">
        <WikiMap @ref="WikiMap" EventSelectedEventCallback="@WikiMap_OnEventSelected"></WikiMap>
    </div>
    <EventDetail @ref="EventDetail" DateFormat="dd MMMM yyyy"></EventDetail>
</div>
