@{
    ViewData["Title"] = "Home Page";
}

<div id="details">
    <div class="container">
        <div class="row">
            <div class="col border rounded">
                <div class="range-slider mt-1">
                    <input class="range-slider__range" type="range" value="0" min="12" max="95" step="1" list="ticks">
                    <datalist id="ticks">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </datalist>
                </div>
                <div class="time text-center mt-1">
                    <select class="btn btn-info dropdown-toggle" name="months" id="months">
                        <option value="0">January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">December</option>
                    </select>
                    <select class="btn btn-info dropdown-toggle" name="years" id="years">
                        <option value="1">1939</option>
                        <option value="2">1940</option>
                        <option value="3">1941</option>
                        <option value="4">1942</option>
                        <option value="5">1943</option>
                        <option value="6">1944</option>
                        <option value="7">1945</option>
                    </select>
                </div>
                <div>
                    <input hidden type="text" id="monthValue"> </input>
                </div>
                <hr>
                <div class="h-100" id="map"></div>
            </div>
            <div class="col-md-4 border rounded py-2">
                <div class="form-group">
                    <label>Title</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-star"></i>
                        </div>
                        <input id="Title" class="form-control input-sm" placeholder="Title" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Start</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-calendar"></i>
                            </div>
                            <input id="Start" class="input-sm form-control" placeholder="Start" />
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>End</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-calendar"></i>
                            </div>
                            <input id="End" class="form-control" placeholder="End" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Result</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-gavel"></i>
                        </div>
                        <input id="Result" class="form-control" placeholder="Ex. Axis victory" />
                    </div>
                </div>
                <hr>

                <div class="location">
                    <div class="form-group">
                        <label>Location name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-map"></i>
                            </div>
                            <input id="LocationName" class="form-control" placeholder="Stalingrad" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Latitude</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-map-marker"></i>
                                </div>
                                <input id="Lat" class="form-control" placeholder="Ex: +48.7080" />
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Longitude</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-map-marker"></i>
                                </div>
                                <input id="Long" class="form-control" placeholder="Ex: +44.5133" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-row">

                    <div class="col">
                        <div class="form-group">
                            <label>Belligerent</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-flag"></i>
                                </div>
                                <input id="Name" class="form-control" placeholder="Ex. Germany" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Strength</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-bolt"></i>
                                </div>
                                <input id="Strength" class="form-control" placeholder="Ex. 200,000" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Losses</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-times"></i>
                                </div>
                                <input id="Losses" class="form-control" placeholder="Ex. 200,000" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 border rounded justify-content-left px-0">
                <textarea class="description"></textarea>
            </div>
            <div class="col-md-4 border rounded">
                <div class="amazon-ad">
                    <h4>Amazon</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/mapbox-gl/mapbox-gl.min.js"></script>
<script src="~/js/map.js"></script>