@page "/eventdetail"

<h3>EventList</h3>

@if (Event == null)
{
    <h4>Loading...</h4>
}
else
{
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
    </tr>

    <tr>
        <td>@Event.Id</td>
        <td>@Event.Title</td>
        <td>@Event.Location.Name</td>
    </tr>
    

</table>
}
