@page "/"
@inject IJSRuntime JSRuntime
<TimeIndicator DateChangeEventCallback="@TimeIndicator_OnDateChanged"></TimeIndicator>
<div id="details">
    <div class="container">
        <div class="row">
            @if (_events == null)
            {
                <h4>Loading...</h4>
            }
            else
            {
                <hr>
                <div style="height: 400px">
                    <div id="map"></div>
                </div>
            }

        </div>
    </div>
</div>


