@*@page "/test"

<h3>SimpleList.</h3>

<EditForm Model="@Primary" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="Primary.Title" />
    <button @onclick="AddSecondary" class="btn btn-primary">Add</button>
    @if (Primary.Secondaries != null)
    {
        @foreach (var item in Primary.Secondaries)
        {
            <InputText id="secondaryName" @bind-Value="item.Title" />
        }

    }
    <button type="submit">Submit</button>
</EditForm>*@