@inject IJSRuntime JSRuntime


<input hidden id="_currentEventIdInput" type="number" @bind="CurrentEventId" />
<div style="height: 500px">
    <div class="h-100" id="map"></div>
</div>


<style>
    .wiki-marker {
        height: 15px;
        width: 15px;
        background-color: #8a0000;
        border-radius: 50%;
        display: inline-block;
    }
</style>

