<div class="unit-component">
    <div class="input-group input-group-sm mt-1">
        <div class="input-group-prepend">
            <i class="input-group-text fa fa-flag"></i>
        </div>
        <input id="participantName" class="form-control" placeholder="Ex. Germany">
    </div>
    <UnitData Units="@Participant.Strength.Assets"></UnitData>
    <UnitData Units="@Participant.Strength.Losses"></UnitData>
</div>

<style>
    .unit-component {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 1rem;
    }

        .unit-component span {
            font-weight: bold;
        }

    .unit-data {
        width: 100%;
        margin-top: 0.2rem;
        text-align: center;
    }

        .unit-data .col {
            border: 1px solid grey;
        }

        .unit-data .row {
            margin-left: 15px;
            margin-right: 0px;
        }

        .unit-data .unit-data-header {
            font-weight: bold;
            overflow-y: scroll;
        }

        .unit-data .unit-data-body {
            max-height: 50px;
            overflow-y: scroll;
        }
</style>