@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Identity
@using wikibellum.Entities
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
</AuthorizeView>

    <div class="main">

        <div class="top-row px-4 auth">
            <h1 id="app-name" class="mr-auto">ArmaSchema</h1>
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>

    </div>
